* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#logo {
    height: 80px;
    padding: 10px;
}

[id$='-container'] {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}
[id$='-container'] h3 {
    padding: 10px;
}

#to-do-container {
    background-color: lightgray;
}
#done-container {
    background-color: lightgreen;
}

[id$='-list'] {
    list-style: none;
}
[id$='-list'] li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
[id$='-list'] i {
    cursor: pointer;
    padding-left: 10px;
}