<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
</head>
<body>

    <img id="logo" src="img/logo.png" alt="boolean logo">

    <div id="root">

        <input class="mystyle" placeholder="Nuovo To Do" id='to-do-input' type="text" @keyup.enter="getToDo">
        <button class="mystyle" @click='getToDo'>Aggiungi</button>
        
        <h2 class="mystyleh2">Cose da fare:</h2>
        <div id="to-do-container">
            <ul v-if="toDos.length > 0" id="to-do-list">
                <li v-for='(todo,index) in toDos'>
                    <span class="borded">
                        <span>
                            {{todo}}
                        </span>
                        <span>
                            <i class="fas fa-check" @click="doneToDo(index)"></i>
                            <i class="fas fa-trash-alt" @click="removeToDo(index)"></i>
                        </span>
                    </span>
                </li>
            </ul>
            <h3 v-else>Non hai nulla da fare!</h3>
        </div>

        <h2 class="mystyleh2">Cose fatte:</h2>
        <div id="done-container">
            <ul v-if="doneToDos.length > 0" id="done-list">
                <li v-for='(todo,index) in doneToDos'>
                    <span class="borded">
                        <span>
                            {{todo}}
                        </span>
                        <span>
                            <i class="fas fa-undo" @click="undoDoneToDo(index)"></i>
                            <i class="fas fa-trash-alt" @click="removeDoneToDo(index)"></i>
                        </span>
                    </span>
                </li>
            </ul>
            <h3 v-else>Non hai nulla di fatto!</h3>
        </div>

    </div>    

    <script src="js/main.js"></script>
</body>
</html>